body{
    margin: 0;
    padding: 0;
    background: rgb(50, 50, 50);
}

.form-body{
    background: rgb(41, 41, 41);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(80, 80, 80);
    color: rgb(224, 224, 224);
}

.form-input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    border: 1px rgb(163, 163, 163) solid;
    background: transparent;
    margin-top: 5px;
    font-size: 0.9em;
}

.separation-items{
    margin: 12px 15px 15px 15px;
}

.form-fieldset{
    margin: 15px;
    border-radius: 10px;
    border-color: rgb(129, 129, 129);
    font-size: 0.9em;
}

.form-legend{
    padding: 0 8px;
    color: rgb(129, 129, 129);
    font-size: 1.2em;
}