body{
    margin: 0;
    padding: 0;
    background: rgb(50, 50, 50);
}

.form-title{
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 1.8em;
}

.form-body{
    background: rgb(50, 50, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(80, 80, 80);
    color: rgb(224, 224, 224);
    background: linear-gradient(rgb(47, 47, 47),rgb(27, 27, 27));
}

.form-input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    border: 1px rgb(163, 163, 163) solid;
    background: transparent;
    margin-top: 5px;
}

.input-textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 100%;
    resize: vertical;
    min-height: 130px;  
    max-height: 250px;
}

.separation-items{
    margin: 25px 15px;
}

.form-select{
    background: rgb(35, 35, 35);
    color: rgb(224, 224, 224);    
}

.form-fieldset{
    margin: 15px;
    border: 2px rgb(110, 110, 110) solid;
    border-radius: 10px;
}

.form-legend{
    color: rgb(110, 110, 110);
    padding: 0 6px;
}