body{
    margin: 0;
    padding: 0;
}

.box{
    width: 50%;
    background:  hsl(216, 65%, 60%);
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    text-align: center;
    color: rgb(6, 48, 121);
    font-weight: bold;
    border: 5px #6b1ec4 solid;
}