body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-spacing: 20px;
    box-shadow: 0 0 10px #7a7a7a;
    border-radius: 10px;
}

th,td{
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1.5px #323232 solid;
    border-left: 1.5px #323232 solid;
}